.container {
    width: 100%;
    height: 100%;
    /* height: 100% - 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: none;

}

.inputSection {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
}





.inputField{
    width: 100%;
    gap: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.radioField{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.inputOrg {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    align-items: center;
    /* background-color: pink; */
    gap: 5px;

}

.inputOrg > input {
    width: 270px;
}

/* .loginButton{
    width: 120px;
    height: 30px;
} */

/* .loginInput{
    height: 20px;
} */

.buttonSection{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 20px;
}