body{
  background: radial-gradient(circle at bottom, #0d1e4a 0%, #000000 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;

}



#verticalContainer{
  display: grid;
  grid-template-rows: [top] 40% [topButton] 5% [bottomButton ]55% [bottom];
  justify-items: center;
  align-items: center;
  height: 700px

  /* width: auto; */
}

#horizontalContainer{
  display: grid;
  grid-template-columns: [left] 50% [center ]50% [right];
  justify-items: center;
  align-items: center;
  /* align-items: center; */
  width: auto;
  
  /* background-color: pink; */
}

.box {
  background-color: white;
  width: 500px;
  height: 200px;
  border: 10px solid white;
  resize: none;
  margin: 15px;
  overflow-y: scroll;
  border-radius: 10px;
  color: black;
  padding: 10px;
}

button{
  height: 30px;
  width: 130px;
  border-radius: 15px;

}

.outputBox{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  height: 300px;
  margin: 15px;
  border-radius: 10px;
  border: 10px solid white;
  width: 900px;
  padding: 10px;
  color: black



}

#mainButtonSection{
  display: grid;
  grid-template-columns:  [left] 50% [center ]50% [right];
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 270px;
  /* width: 25%; */

}